<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade</title>
</head>
<body>
    <form action="/lua" method="post">
        <label for="usuario">Digite seu nome: </label>
        <input type="text" name="usuario">
        <p><%=resultado%></p> 
        
        <label for="">Digite dois números: </label>
        <input type="number" name="n1">
        <input type="number" name="n2">
        <p><%=soma%></p> 
        <input type="submit">
    </form>
</body>
</html>