<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula conta</title>
</head>
<script>
    function Dividir () {
    N1= n1.value
    N2= n2.value
    conta= N1/N2
    result= conta
    resultado.innerHTML = (`N= m/M <br> N= ${N1}/${N2} = ${result}`)
}
</script>
<body>
    <form>
        Digite o valor de (m):
        <input type="number" id="n1" name="n1">
     
        Digite o valor de (M):
        <input type="number" id="n2" name="n2">
        <br>
        <input type="button" value="Dividir" onclick="Dividir()">
    </form>
    <p id="resultado">N= m/M</p>
</body>
</html>